/*
_______________________________
960PX LAYOUT */

#container, #primary
{
	width:96em;
}

/* .l1: 2-column 66% - 33%
---------------------------------------------------------- */
body.l1 #primary
{
	width:62.66em;
}

body.l1 #secondary
{
	width:31.33em;
	float:right;
}


/* .l2: 2-column 33% - 66%
---------------------------------------------------------- */
body.l2 #primary
{
	width:62.66em;
	margin-left:33.33em;
}

body.l2 #secondary
{
	width:31.33em;
	margin-left:-96em;
}


/* .l3: 2-column 50% - 50%
---------------------------------------------------------- */
body.l3 #primary
{
	width:47em;
}

body.l3 #secondary
{
	width:47em;
	float:right;
}


/* .l4: 3-column 33% - 33% - 33%
---------------------------------------------------------- */
body.l4 #primary
{
	width:30.66em;
	margin-left:32.66em;
}

body.l4 #secondary
{
	width:30.66em;
	margin-left:-63.33em;
}

body.l4 #tertiary
{
	float:right;
	width:30.66em;
}


/* .l5: 3-column 17% - 66% - 17%
---------------------------------------------------------- */
body.l5 #primary
{
	width:60em;
	margin-left:18em;
}

body.l5 #secondary
{
	width:16em;
	margin-left:-78em;
}

body.l5 #tertiary
{
	float:right;
	width:16em;
}


/* .l6: 3-column 25% - 50% - 25%
---------------------------------------------------------- */
body.l6 #primary
{
	width:46em;
	margin-left:25em;
}

body.l6 #secondary
{
	width:23em;
	margin-left:-71em;
}

body.l6 #tertiary
{
	float:right;
	width:23em;
}


/* .l7: 3-column 66% - 17% - 17%
---------------------------------------------------------- */
body.l7 #primary
{
	width:60em;
	margin-right:2em;
}

body.l7 #secondary
{
	width:16em;
}

body.l7 #tertiary
{
	float:right;
	width:16em;
}


/* .l8: 3-column 50% - 25% - 25%
---------------------------------------------------------- */
body.l8 #primary
{
	width:46em;
	margin-right:2em;
}

body.l8 #secondary
{
	width:23em;
	margin-left:0;
}

body.l8 #tertiary
{
	float:right;
	width:23em;
}


/* .l9: 3-column 25% - 25% - 50%
---------------------------------------------------------- */
body.l9 #primary
{
	width:46em;
	float:right;
}

body.l9 #secondary
{
	width:23em;
}

body.l9 #tertiary
{
	float:right;
	width:23em;
	margin-right:2em;
}